/* font-family: 'Lato', sans-serif;
font-family: 'Fengardo'; */

html{
    min-height: 100vh;
}

/********************************************** CSS DE BASE ***********************************/
body {
    min-height:100vh;
    max-width: 100vw;
    background-image: url("images/Fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-style:normal; 
    font-size: 3em;
}

h2{
    font-family: 'Passion One', cursive;
    color: white;
    font-style:normal; 
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #505050;
    margin-top:;
}

a{
    text-decoration: none;
}

textarea{
    font-size: 1em !important;
}

select{
    background-color: #CFCFCF;
    color:#505050;
    font-size: 1.2em;
    border:none;
    border-radius: 5px;
}

.fenetre {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin:2% auto;
}

/*Exemple de mise en forme de boutons*/

/*Pour les boutons valider*/
.boutonBlanc{ 
    border-radius: 30px;
    font-size: 1.5em;
    padding: 10px;
    border: 0;
    width: 10em;
    background-color: white;
    font-family: lato;
    color: black;
}
.boutonBlanc:hover{
    cursor: pointer;
    background-color: #F9E56A;
    transition: 0.5s;
}

/*Modèle pour les champs de saisi*/
.saisie{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #EBEBEB;
    font-family: lato;
    font-size: 1.5em;
    opacity: 0.6;
}

/*Modèle pour les champs pré-rempli*/
.champRempli{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #CFCFCF;
    font-family: lato;
}


/*Modèle pour les + petits boutons version grise*/
.boutonGris{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #CFCFCF;
    font-family: lato;
    height: 30px;
    color: black;
}

/*Modèle pour les + petits boutons version orange*/
.boutonOrange{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #F56A42;
    font-family: lato;
    height: 30px;
    color: white;
}

/* Header et Nav */

header {
    display: flex;
    align-items: center;
    background-color: #31393D;
    height: 7em;
    justify-content: space-around;
}

header img {
    max-height: 4em;
    margin-top: 1.2em;
    margin-right: 1em;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    list-style-type: none;
}

nav a:hover {
    transition: 0.5s;
    color: #45BE6F;
}

header li {
    margin-right: 2em;
}

header div {
    display: flex;
}
/* mettre class="pageActuel" sur le <li> assigné à la page pour le coloré en orange */
.pageActuel {
    color: #F56A42;
}

/***************************************************************MAIN*******************************************************/

/*******************************ACCUEIL******************/
/*Bulle de la page d'accueil*/
.bulleAccueil{
    background-color: white;
    height: 60px;
    width: 200px;
    font-family: 'Lato';
    font-size: 15px;  
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    position: fixed;
    box-shadow: 4px 4px rgb(255,204,51);
    left: 20%;
    top: 40em;
}

.bulleAccueil p:first-child{
    text-align: left;
    margin-top: 5px;
}

.bulleAccueil p:nth-child(2){
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 13px;
}

.bulleAccueil::after{
    content: "";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid rgb(255,204,51);
    border-right : 30px solid transparent;
    margin: 29px 0 0 15px;
}

.bulleAccueil::before{
    content: "";
    position: absolute;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid white;
    border-right : 30px solid transparent;
    margin: 10px;
    top: 90px;
}

.boutonsAccueil{
    display: flex;
    justify-content: space-around;
}


.accueil .fenetre{
    width: 45vw;
    margin: 2% auto;
    min-width: 500px;
}

.accueil .boutonBlanc{
    background-color: #CFCFCF;
}

.accueil h2{
    font-family: 'Passion One', sans-serif;
    font-weight:100;
    font-size: 40px;
    text-align: center;
    color: #505050;
    margin:0 0 30px 0;
}


.accueil::before{
    content: "";
    background-image: url(../images/logoAsphalt.png);
    background-size: contain;
    width: 200px;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    margin: 3em auto;
    z-index: 1;
}


/* Connexion */

.connexion{
    text-align:center;
}

.lienMdp{
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    margin-bottom: 1.4em;
}

.connexionFormulaire .fenetre{
    max-width: 50em;
    margin: 2% auto;
}

.connexionFormulaire div{
    display: flex;
    flex-direction: column;
    align-items: : center;
    padding-left: 7em;
    padding-right: 7em;
}

a i{
    margin-left: 0.2em;
    margin-right: 0.05em;
    color: #F56A42;
}

.boutonConnexion{
    margin-bottom: 3em;
    margin-top: 1.5em;
}

.boutonConnexion a{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* signalement (reprend du code de la page connexion) */

.signalement{
    text-align: center;
}

.connexionFormulaire label{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.4em;
    margin-top: 1.4em;
}

/* oubliMdp */

.oubliMdp{
   text-align: center;
}

.oubliMdpFormulaire .fenetre{
    max-width: 50em;
    margin: 2% auto;
}

/*Détail trajet - choix trajet*/
.detailTrajet {
    text-align: center;
    vertical-align: center;
    
}

.detailTrajet h2 {
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

.detailTrajet .fa-user-circle {
    font-size: 4em;
    color: #CFCFCF;
    vertical-align: middle;
    margin-right: 20px;
}

.detailTrajet h3 {
    margin-top: 0;
    font-size: 25px;
}
.detailTrajet h3 a{
    color:#505050;
}
.detailTrajet .lettrePrenom{
    color:#F56A42;
}
.detailTrajet .lettreNom{
    color:#45BE6F;
}

.detailTrajet .fenetre {
    font-family: 'lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: 2% auto;
    min-width: 500px;
}

.detailTrajet .champRempli {
    border-radius: 10px;
    display: inline;
    border: 0;
    height: 15px;
    background-color: #CFCFCF;
    font-family: 'lato';
}

.detailTrajet p {
    margin: auto 5px auto 10px;
}


.detailTrajet .localisation {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
}


.detailTrajet .date {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detailTrajet .horaires {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: center;


}

.detailTrajet .place {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;

}
/*---------------------CGU-----------------------*/
.cgu{
    font-family: 'Lato', sans-serif;
color: #505050;
    text-align: justify;
    font-size: 15px;
}
.cgu .fenetre{
    max-width: 50em;
    margin: 2% auto;
}
.cgu .titre{
    margin-top: 10%;
    font-size: 24px;
    text-decoration: none;
}
.cgu .sousTitre{
    font-size: 18px;
    text-decoration: underline;
}



/*************************************Tableau de bord************************************************/ 
.topTableau{
    display: flex;
    justify-content: space-around;
}

.tableauBord .fenetre{
    width: 50vw;
    margin: 2% auto;
    min-width: 800px;    
}


.trajetAVenir{
    max-width: 400px;
}

.demandeTableau{
    max-width: 400px;
}


.tableauBord p{
    font-family: 'Lato';
}

.tableauBord .detailTrajet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.horaireTrajet{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.adresseTrajet{
    display: flex;
    flex-direction: column;
}

.unTrajet{
    border: solid 2px #CFCFCF;
    border-radius: 30px;
    padding: 0px 15px 15px 15px;
    margin-bottom: 15px;
}


.demandeTrajet .unTrajet {
    max-width: 400px;
}

.tableauBord .fa-user-circle{
    font-size: 4em;
    color: #CFCFCF;
    align-self: center;
    margin-right: 15px;
}

.tableauBord .confirmer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.tableauBord .fa-check-circle{
    color: #45BE6F;
    font-size: 1.3em;
}

.tableauBord .far-check-circle{
    color: #45BE6F;
    font-size: 1.3em;

}

.tableauBord .fa-times-circle{
    color: #F56A42;
    font-size: 1.3em;
}

.tableauBord .far-times-circle{
    color: #F56A42;
    font-size: 1.3em;
}

.avisTableau{
    text-align: center;
}

.avisTableau .etoile{
    font-size: 1.5em;
}

.avisTableau fieldset{
    border: none;
    vertical-align: middle;
}

.avisTableau label{
    font-family: Lato;
    vertical-align: super;
}

.avisTableau textarea{
    border-radius: 20px;
}

.adresseTrajet{
    text-align: justify;
}


/*****************************************Liste trajet**********************************************/
.choixTrajet .fenetre{
    width: 40vw;
    margin: 2% auto;
    min-width: 800px;  
    font-family: 'Lato';
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.choixTrajet .localisation{
    display: flex;
    justify-content: center;;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.choixTrajet .localisation p{
    margin-right: 15px;
    margin-left: 15px;
}

.choixTrajet .detailTrajet{
display: flex;
    flex-direction: row;
    justify-content: center;
}

.listeTrajet .unTrajet{
    display: flex;
    flex-direction: column;
    padding: 0 30px 20px 30px;
    width: 40em;
}

.listeTrajet .boutonOrange{
    padding-bottom: 0;
    padding-top: 8px;
}

.choixTrajet .listeTrajet{
    justify-content: center;
    margin: auto;
}

.blocTrajet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unTrajet .dateTrajet{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600
}

.unTrajet .detailTrajet{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.modalites{
    text-align: center;
}


.filtrer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}


.filtrer .boutonGris{
    background: none;
    border: solid 2px #CFCFCF;
    margin: 10px;
    max-height: 20px;
    max-width: 50em;
}

.filtrer .boutonGris:active{
    background: #8fdea8;
    border: solid 2px #8fdea8;
    margin: 10px;
    max-height: 20px;
    max-width: 50em;
    color: white;
}



/*****************------------------------------rechercher---------------------------***********************/
.rechercher .fenetre{
    max-width: 80vw;
    min-width: 60vw;
    margin: 2% auto;
 }
.rechercher{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rechercher .calendrier input{
    background-color: #CFCFCF;
    color:#505050;
    border:none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.rechercher .lieux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.rechercher .lieux i{
    transform: scale(3);
    color: #31393D;
    padding-top: 50%
}
.rechercher .favoris{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rechercher .favoris .depart{
    transform: translateX(-20%);
}
.rechercher .favoris .arrivee{
    transform: translateX(20%);
}
.rechercher .horaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rechercher .timing{
    display: flex;
    flex-direction: row;
}

.rechercher .fenetre>div {
    margin-top: 3%;
    margin-bottom: 3%;
}

.rechercher label {
    color: #505050;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
.rechercher fieldset {
    border: none;
}
/******************************------------------------------proposer------------------------------*************************/

.proposer{
    text-align: center;
    display: flex;
    flex-direction: column;
}


.proposer .calendrier input{
    background-color: #CFCFCF;
    color:#505050;
    border:none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.proposer .lieux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.proposer .lieux i{
    transform: scale(3);
    color: #31393D;
    padding-top: 50%
}
.proposer .favoris{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.proposer .favoris .depart{
    transform: translateX(-20%);
}
.proposer .favoris .arrivee{
    transform: translateX(20%);
}
.proposer .horaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.proposer .timing{
    display: flex;
    flex-direction: row;
}
.proposer .timing select{
    background-color: #CFCFCF;
    color:#505050;
    font-size: 1.2em;
    border:none;
    border-radius: 5px;
}
.proposer .fenetre>div {
    margin-top: 3%;
    margin-bottom: 3%;
}

.proposer label {
    color: #505050;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
.proposer fieldset {
    border: none;
}
.proposer .fenetre{
    max-width: 80vw;
    min-width: 60vw;
    margin: 2% auto;
 }
 
/*** plusDetail ***/

.plusDetail h3 {
    margin-top: 0;
    font-size: 25px;
}

.plusDetail .champRempli {
    border-radius: 10px;
    display: inline;
    border: 0;
    height: 15px;
    background-color: #CFCFCF;
    font-family: 'lato';
}

.plusDetail .fenetre {
    font-family: 'lato';
    display: flex;
    flex-direction: column;
    max-width: 70em;
    margin: 2% auto;
    min-width: 500px;
}

.detailCarte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plusDetail .carte{
    max-width: 50em;
    
}

.plusDetail .localisation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plusDetail .localisation p{
    margin-right: 0.25em;
}

.plusEspace {
    margin-right: 1em;
}

.plusProposition{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plusProposition .champRempli{
    width: 20em;
    height: 15em;
    text-align: center;
}

/*****************************-------confirmation inscription------------********************************/


.confirmationInscription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.confirmationInscription p a{
    color:#F56A42;
}

.confirmationInscription p a:hover{
    color: #45BE6F;
    text-decoration: underline;
}

.confirmationInscription .fenetre p:last-child{
    padding-bottom: 10%;
}


.confirmationInscription .fenetre{
    background-image: url(/images/vroum.svg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 60%;
    max-width: 50em;
    margin: 2% auto;
}

.confirmationInscription p{
    color: #505050;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 0% 5% 0% 5%;
}    
    
    
/***********************************inscription***************************************************/
.inscription .boutonValider{
    text-align: center;
}

.inscription fieldset{
    border:none;
    max-width: 400px;
}

.inscription .saisie{
    width: 400px;
}

.inscription input {
    max-width: 100%;
}

.inscription label {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    margin:auto;
}

.inscription .aligner{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}

.inscription .fenetre {
    max-width: 50vw;
    margin:2% auto;
}

.inscription .boutonBlanc{
    margin:20px 0px 20px 0px;
}

.inscription a {
    color:#45BE6F;
}

.inscription .aCenter{
    text-align: center;
}

/********************************************footer********************************************/
footer {
    height: 8em;
    max-width: 100vw;
    background-color: #242A2D;
    margin: none;
    display: block;
}

footer p {
    font-family: 'Lato';
    font-size: 16px;
    color: #CCCCCC;
}

footer p:hover {
    transition: 0.5s;
    color: #45BE6F;
}

footer img {
    height: 2.5em;
    display: flex;
}

footer a {
    text-decoration: none;
}

.lienFoot {
    display: flex;
    justify-content: space-around;
}

.logoFoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoFoot p {
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 2.5em;
    opacity: 0.1;
    padding-left: 0.2em;
    font-family: 'Passion One';
    margin-bottom: 0;
    margin-top: 32px; 
}

.logoFoot img {
    margin-top: 2.2em;
    margin-top: 33px;
}


.sectionUser .fa-user-circle{
    font-size: 4em;
    color: #CFCFCF;
    vertical-align: middle;
    margin-right: 100px;
    
}

.sectionUser .fenetre{
    max-width: 50em;
    margin: 2% auto;
 }

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topH3{
    display: flex;
    flex-direction: column;
}

.bioUser{
    font-family: 'Lato';
    font-size: 1.5em;
    text-align: center;
    
}
.etoile{
    font-size: 35px;
    color: gold;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.etoile .fa-star{
    padding: 0.5em;
}

.boutonContacter{ 
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border: 0;
    width: 8em;
    height: 3em;
    background-color: #CFCFCF;
    font-family: lato;
    color: black;
}


/***************************************bulle commentaire**************************************************/
.bulleCom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CFCFCF;
    height: 30px;
    max-width: 50em;
    font-family: 'Lato';
    font-size: 14px;  
    padding: 20px 0px 20px 20px;
    border-radius: 30px;
    position: relative;
    left: 5%;
    top: 0em;
}

.bulleCom p:first-child{
    text-align: left;
    margin-top: 5px;
}

.bulleCom p:nth-child(2){
    margin: 5px 0 0 0;
    width: 30em;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}


.bulleCom .fa-user-circle{
    position: absolute;
    z-index: 2;
    color: dimgrey;
    top: 0.15em;
    margin-right: 0;
}
.etoile2{
    width: 42em;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}
.etoile2 .fa-star{
    padding: 0.5em;
}
.nomUser{
    margin-left: 7em;
    z-index: 2;
    position: relative;
    top: 40px;
    left: 7px;
    font-family: 'Lato', sans-serif;
}


/*************************************************************NOUS CONTACTER****************************************************/

.contact .fenetre{
    display: flex;
    justify-content: space-between;
}

.champsContact{
    display: flex;
    flex-direction: column;
}

.message input{
    width: 45vw;
    height: 45vh;
}
