/* font-family: 'Lato', sans-serif;
font-family: 'Fengardo'; */

html{
    min-height: 100vh;
}

/********************************************** CSS DE BASE ***********************************/
body {
    min-height:100vh;
    max-width: 100vw;
    background-image: url("images/Fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

p{
    font-family: 'Lato', sans-serif;
    color: #505050;
   	font-size: 20x;
}

h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-style:normal; 
    font-size: 2.5em;
}

h2{
    font-family: 'Passion One', cursive;
    color: white;
    font-style:normal; 
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #505050;
    margin-top:;
}

label{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

textarea{
    font-size: 1em !important;
}

select{
    background-color: #CFCFCF;
    color:#505050;
    font-size: 1.2em;
    border:none;
    border-radius: 5px;
}

.calendrier {
    background-color: #CFCFCF;
    color:#505050;
    border:none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.fenetre {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin:2% auto;
}

/*Exemple de mise en forme de boutons*/

/*Pour les boutons valider*/
.boutonBlanc{ 
    animation: apparitionTourne 0.5s 0.5s ease-out backwards;
    border-radius: 30px;
    font-size: 1.5em;
    padding: 10px;
    border: 0;
    width: 10em;
    background-color: white;
    font-family: lato;
    color: black;
}

.boutonBlanc a{
    text-decoration: none;
    color: black;
}
.boutonBlanc:hover{
    cursor: pointer;
    background-color: #F9E56A;
    transition: 0.5s;
}

/*Modèle pour les champs de saisi*/
.saisie{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #EBEBEB;
    font-family: lato;
    font-size: 1.5em;
    opacity: 0.6;
}

/*Modèle pour les champs pré-rempli*/
.champRempli{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #CFCFCF;
    font-family: lato;
}


/*Modèle pour les + petits boutons version grise*/
.boutonGris{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #CFCFCF;
    font-family: lato;
    height: 30px;
    color: black;
}
.boutonGris:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    transition: 0.5s;
}

/*Modèle pour les + petits boutons version orange*/
.boutonOrange{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #F56A42;
    font-family: lato;
    height: 30px;
    color: white;
}

.boutonOrange:hover{
    cursor: pointer;
    background-color: #AF3512;
    transition: 0.5s;
}

/********************************************** ANIMATION ***********************************/
.appaDroite{
   animation: apparitionDroite 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionDroite{
    0%{
        opacity: 0;
        transform: translateX(30%);
    }
    100%{
        opacity: 1;
    }
}

.appaGauche{
   animation: apparitionGauche 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionGauche{
    0%{
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        opacity: 1;
    }
}

.appaHaut{
   animation: apparitionHaut 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionHaut{
    0%{
        opacity: 0;
        transform: translateY(-30%);
    }
    100%{
        opacity: 1;
    }
}

.appaBas{
   animation: apparitionBas 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionBas{
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        opacity: 1;
    }
}

.appaTourne{
   animation: apparitionTourne 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionTourne{
    0%{
        opacity: 0;
        transform: rotate(10deg);
    }
    100%{
        opacity: 1;
    }
}

.appaCarte{
   animation: apparitionCarte 0.5s 0.5s ease-out backwards;
}
@keyframes apparitionCarte{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
    }
    100%{
        opacity: 1;
    }
}

.appa{
   animation: apparition 0.5s 0.5s ease-out backwards;
}
@keyframes apparition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/************************************* Header et Nav ************************************************/

header {
    display: flex;
    align-items: center;
    background-color: #24292E;
    height: 3.5em;
    justify-content: space-around;
    
}

header img {
    max-height: 2em;
    margin-top: 2em;
    margin-right: 1em;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    list-style-type: none;
}

nav a:hover {
    transition: 0.5s;
    color: #45BE6F;
}

header li {
    margin-right: 2em;
}

header div {
    display: flex;
}
/* mettre class="pageActuel" sur le <li> assigné à la page pour le coloré en orange */
.pageActuel {
    color: #F56A42;
}

/********************************************footer********************************************/
footer {
    height: 3.2em;
    max-width: 100vw;
    background-color: #242A2D;
    margin: none;
    display: block;
}


footer p {
    font-family: 'Lato';
    font-size: 16px;
    color: #CCCCCC;
}

footer a:not(:last-child){
    padding-right: 30px;
}

footer p:hover {
    transition: 0.5s;
    color: #45BE6F;
}

footer i:hover {
    transition: 0.5s;
    color: #45BE6F;
}

footer a {
    text-decoration: none;
    font-size: 1.5em;
}

footer i {
    border: white;
}

.lienFoot {
    display: flex;
    justify-content: center;
}
.logoFoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoFoot p {
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 2.5em;
    opacity: 0.1;
    padding-left: 0.2em;
    font-family: 'Passion One';
    margin-bottom: 0;
    margin-top:0px; 
}

.logoFoot img {
    margin-top: 2.2em;
    margin-top: 0px;
}


.sectionUser .fa-user-circle{
    font-size: 4em;
    color: #CFCFCF;
    vertical-align: middle;
    margin-right: 100px;
    
}

.sectionUser .fenetre{
    max-width: 50em;
    margin: 2% auto;
 }

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topH3{
    display: flex;
    flex-direction: column;
}

.bioUser{
    font-family: 'Lato';
    font-size: 1.5em;
    text-align: center;
    
}
.etoile{
    font-size: 35px;
    color: gold;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.etoile .fa-star{
    padding: 0.5em;
}

.boutonContacter{ 
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border: 0;
    width: 8em;
    height: 3em;
    background-color: #CFCFCF;
    font-family: lato;
    color: black;
}



/*********************************************************ACCUEIL**************************************/

/*Bulle de la page d'accueil*/
.bulleAccueil{
    animation: apparitionGauche 1s 2s ease-out backwards;
    background-color: white;
    height: 60px;
    width: 200px;
    font-family: 'Lato';
    font-size: 15px;  
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    position: fixed;
    box-shadow: 4px 4px rgb(255,204,51);
    left: 20%;
    top: 40em;
}

.bulleAccueil p:first-child{
    text-align: left;
    margin-top: 5px;
}

.bulleAccueil p:nth-child(2){
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 13px;
}

.bulleAccueil::after{
    content: "";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid rgb(255,204,51);
    border-right : 30px solid transparent;
    margin: 29px 0 0 15px;
}

.bulleAccueil::before{
    content: "";
    position: absolute;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid white;
    border-right : 30px solid transparent;
    margin: 10px;
    top: 90px;
}

.boutonsAccueil{
    display: flex;
    justify-content: space-around;
}


.accueil .fenetre{
    width: 45vw;
    margin: 2% auto;
    min-width: 500px;
}

.accueil .boutonBlanc{
    background-color: #CFCFCF;
}

.accueil h2{
    font-family: 'Passion One', sans-serif;
    font-weight:100;
    font-size: 40px;
    text-align: center;
    color: #505050;
    margin:0 0 30px 0;
}


.accueil::before{
    content: "";
    background-image: url(../images/logoAsphalt.png);
    background-size: contain;
    width: 200px;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    margin: 3em auto;
    z-index: 1;
}


/****************************************************** Connexion *****************************************************/

.connexion{
    text-align:center;
}

.lienMdp{
    animation: apparition 0.5s 2s ease-out backwards;
    color: black;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.4em;
}

.connexionFormulaire .fenetre{
    animation: apparitionHaut 0.5s 0.5s ease-out backwards;
    max-width: 550px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
}

.connexionFormulaire div{
    animation: apparitionCarte 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: column;
    align-items: : center;
}

.connexion a i{
    margin-left: 0.2em;
    margin-right: 0.05em;
    color: #F56A42;
}

.boutonConnexion{
    margin-bottom: 3em;
    margin-top: 1.5em;
}

.boutonConnexion a{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* signalement (reprend du code de la page connexion) */

.signalement{
    text-align: center;
}

.connexionFormulaire label{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.4em;
    margin-top: 1.4em;
}

/* oubliMdp */

.oubliMdp{
   text-align: center;
}

.oubliMdpFormulaire .fenetre{
    max-width: 50em;
    margin: 2% auto;
}

/***************************************Détail trajet - choix trajet*******************************************/
.detailTrajet .fa-user-circle {
    font-size: 4em;
    color: #CFCFCF;
    vertical-align: middle;
    margin-right: 20px;
}

.detailTrajet h3 {
    margin-top: 0;
    font-size: 25px;
}
.detailTrajet h3 a{
    color:#505050;
}

.detailTrajet .fenetre {
    animation: apparitionGauche 0.5s 0.5s ease-out backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45vw;
    margin: 2% auto;
}

.detailTrajet p {
    animation: apparitionGauche 0.5s 1.3s ease-out backwards;
    margin: auto 5px auto 10px;
}

.detailTrajet .localisation {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.detailTrajet .date {
    display: flex;
    flex-direction: column;
}

.detailTrajet .horaires {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.detailTrajet .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
}

.Info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carteInfo{
    animation: apparitionHaut 0.5s 1.3s ease-out backwards;
    height: 20em;
    width: 40em;
    margin-right: 2em;
    margin-left: 2em;
}
/*----------------PROFIL UTILISATEUR ET PERSO---------*/
.profilPerso{
    text-align: center;
    margin: 2%;
}

.profilPerso .fenetre {
    animation: apparitionDroite 0.5s 0.5s ease-out backwards;
    max-width: 40vw;
    display: flex;
    text-align: justify;
    padding: 2%;
    flex-direction: column;
}

.photoProfil {
    animation: apparitionTourne 0.5s 1.3s ease-out backwards;
    border-radius: 100%;
    max-height: 120px;
    margin: 15px
}

.profilPerso h3 {
    margin-bottom: 10px;
    vertical-align: center;
}

.profilPerso p {
    color: #505050;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.profilPerso .chiffre {
    margin: auto;
}

.profilPerso .chiffre p {
    margin: 0;
    text-align: left;
}


.infosMembre .chiffre {
    display: flex;
    flex-direction: column;
}


.profilPerso .planete img {
    animation: apparitionCarte 0.5s 2s ease-out backwards;
    max-width: 200px;
}

.planete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto
}

.presentationMembre {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 10px;
}



.profilPerso .badge {
    animation: apparitionCarte 0.5s 2s ease-out backwards;
    margin: 2px;
    height: 70px;
}


.identiteMembre .nom {
    font-size: 25px;
    font-weight: 550;
}

.identiteMembre {
    animation: apparitionDroite 0.5s 1.3s ease-out backwards;
    margin: auto;
}

.identiteMembre .etoile{
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    
}

.informationProfil {
    animation: apparition 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: row;
}

.infosMembre {
    margin: auto;
    display: flex;
    flex-direction: column;

}


.informationProfil .fa-angle-down {
    font-size: 3em;
    color: #31393D;
}

.gamification {
    display: flex;
    flex-direction: column;
    margin: auto;
}



.unCommentaire {
    border: solid 2px #CFCFCF;
    border-radius: 20px;
    padding: 5px 15px 7px 15px;
    margin: 10px;
}

.unCommentaire .date {
    font-size: 10px;
}

.lesCommentaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesCommentaires #fleche{
    visibility: hidden;
}

.presentationMembre .etoile i:first-child{
    padding-left: 0;
}

.presentationMembre .etoile{
    margin-bottom: 0;
}


/*---------------------CGU-----------------------*/
.cgu{
    font-family: 'Lato', sans-serif;
color: #505050;
    text-align: justify;
    font-size: 15px;
}
.cgu .fenetre{
    animation: apparition 0.5s 0.5s ease-out backwards;
    max-width: 50em;
    margin: 2% auto;
}
.cgu .titre{
    margin-top: 10%;
    font-size: 24px;
    text-decoration: none;
}
.cgu .sousTitre{
    font-size: 18px;
    text-decoration: underline;
}

.cgu p{
    animation: apparition 0.5s 1.3s ease-out backwards;
}


/*--------------------A propos-------------------*/
.aPropos .fenetreG {
    animation: apparition 0.5s 0.5s ease-out backwards;
    max-width: 60vw;
    min-width: 20vw;
}

.aPropos .fenetreG p {
    animation: apparition 0.5s 1.3s ease-out backwards;
    font-family: 'Lato', sans-serif;
    color: #505050;
    text-align: justify;
    font-size: 20x;
    
}
/*************************************Tableau de bord************************************************/ 
.topTableau{
    animation: apparitionHaut 0.5s 1.3s ease-out backwards;
    display: flex;
    justify-content: space-between;
}
#blocDroit{
    display: flex;
}
#blocGauche{
    display: flex;
}
#flecheGauche{
    margin: auto 5px;
    transform: scale(1.5);
}
#flecheDroite{
    margin: auto 5px;
    transform: scale(1.5);
}
.avisTableau{
    animation: apparitionBas 0.5s 1.3s ease-out backwards;
}

.tableauBord .fenetre{
    animation: apparitionGauche 0.5s 0.5s ease-out backwards;
    max-width: 45vw;
    margin: 2% auto;
    min-width: 800px;    
}

.trajetAVenir{
    max-width: 400px;
}

.demandeTableau{
    max-width: 400px;
}


.tableauBord p{
    font-family: 'Lato';
}

.tableauBord .detailTrajet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.horaireTrajet{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.adresseTrajet{
    display: flex;
    flex-direction: column;
}

.unTrajet{
    border: solid 2px #CFCFCF;
    border-radius: 30px;
    padding: 0px 15px 15px 15px;
    margin-bottom: 15px;
}


.demandeTrajet .unTrajet {
    max-width: 400px;
}

.tableauBord .fa-user-circle{
    font-size: 4em;
    color: #CFCFCF;
    align-self: center;
    margin-right: 15px;
}

.tableauBord .confirmer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.tableauBord .fa-check-circle{
    color: #45BE6F;
    font-size: 1.3em;
}

.tableauBord .far-check-circle{
    color: #45BE6F;
    font-size: 1.3em;

}

.tableauBord .fa-times-circle{
    color: #F56A42;
    font-size: 1.3em;
}

.tableauBord .far-times-circle{
    color: #F56A42;
    font-size: 1.3em;
}

.avisTableau{
    text-align: center;
}

.avisTableau .etoile{
    font-size: 1.5em;
}

.avisTableau fieldset{
    border: none;
    vertical-align: middle;
}

.avisTableau label{
    font-family: Lato;
    vertical-align: super;
}

.avisTableau textarea{
    border-radius: 20px;
}

.adresseTrajet{
    text-align: justify;
}

.avisTableau .rating{
    margin-bottom: 1%;
}

.pasDeTrajet{
    border: solid 2px #CFCFCF;
    border-radius: 30px;
    padding: 0px 15px 1px 15px;
    margin-bottom: 15px;
}

.tableauBord .unTrajet{
    
}


/*****************************************Liste trajet**********************************************/
.choixTrajet .fenetre{
    animation: apparitionGauche 0.5s 0.5s ease-out backwards;
    width: 40vw;
    margin: 2% auto;
    min-width: 800px;  
    font-family: 'Lato';
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.choixTrajet .localisation{
    animation: apparitionHaut 0.5s 1.3s ease-out backwards;
    display: flex;
    justify-content: center;;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.choixTrajet .localisation p{
    margin-right: 15px;
    margin-left: 15px;
}

.choixTrajet .detailTrajet{
display: flex;
    flex-direction: row;
    justify-content: center;
}

.listeTrajet .unTrajet{
    animation: apparitionGauche 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: column;
    padding: 0 30px 20px 30px;
    width: 40em;
}

.listeTrajet .boutonOrange{
    padding-bottom: 0;
    padding-top: 8px;
}

.choixTrajet .listeTrajet{
    justify-content: center;
    margin: auto;
}

.blocTrajet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unTrajet .dateTrajet{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600
}

.unTrajet .detailTrajet{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.modalites{
    text-align: center;
}


.filtrer{
    animation: apparitionHaut 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}


.filtrer .boutonGris{
    background: none;
    border: solid 2px #CFCFCF;
    margin: 10px;
    max-height: 20px;
    max-width: 50em;
}

.filtrer .boutonGris:active{
    background: #8fdea8;
    border: solid 2px #8fdea8;
    margin: 10px;
    max-height: 20px;
    max-width: 50em;
    color: white;
}

/*****************------------------------------rechercher---------------------------***********************/
.rechercheRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
 }

.rechercher .fenetre{
    animation: apparitionCarte 0.5s 0.5s ease-out backwards;
    max-width: 750px;
    margin: 2% auto;
 }

.rechercheGauche{
    animation: apparitionGauche 0.5s 1.3s ease-out backwards;
    margin-left: 10%;
}

.horaireDate{
    animation: apparitionBas 0.5s 1.3s ease-out backwards;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 2%;
}

.rechercheDroite{
    animation: apparitionDroite 0.5s 1.3s ease-out backwards;
    margin-right: 10%;
}

.rechercher{
    text-align: center;
    flex-direction: column;
}

.fa-exchange-alt{
    transform: rotate(0);
    transition: 0.5s ease-out;
}

.fa-exchange-alt:hover{
    transform: rotate(180deg);  
    transition: 0.5s ease-out;
}

.fleche{
    animation: apparition 0.5s 2s ease-out backwards;
    font-size: 3.5em;
    color: #31393D;
}

.rechercher .timing{
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}

.rechercher label {
    color: #505050;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
.rechercher fieldset {
    border: none;
    
}

.deuxPoint{
    padding-left: 5px;
}
/******************************------------------------------proposer------------------------------*************************/

.proposer{
    text-align: center;
    flex-direction: column;
}

.proposer .timing{
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}

.proposer .deroulent{
    display: flex;
    justify-content: center;
}

.proposer label {
    color: #505050;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.proposer fieldset {
    border: none;
}

.proposer .fenetre{
    animation: apparitionCarte 0.5s 0.5s ease-out backwards;
    max-width: 750px;
    margin: 2% auto;
 }
 
/******************************** plusDetail *************************************/
.plusDetail .fenetre {
    animation: apparition 0.5s 0.5s ease-out backwards;
    font-family: 'lato';
    display: flex;
    flex-direction: column;
    max-width: 60em;
    margin: 2% auto;
}

.detailCarte{
    display: flex;
    justify-content: space-between;
}

.plusDetail .carte{
    animation: apparitionDroite 0.5s 1.3s ease-out backwards;
    width: 50em;
    height: 33em;
    margin-right: 2em;
    margin-left: 2em;
}

.plusDetail .localisation{
    animation: apparitionGauche 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: column;
}

.plusProposition{
    animation: apparitionGauche 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plusProposition .plusEtape{
    width: 20em;
    height: 15em;
    text-align: center;
}

.plusProposition .adresseTrajet{
    margin-top: 1em;
}

.plusProposition .horaireTrajet{
    margin-top: 1em;
}

/*****************************-------confirmation inscription------------********************************/

.confirmationInscription{
    text-align: center;
}

.confirmationInscription p a{
    color:#F56A42;
}

.confirmationInscription p a:hover{
    color: #45BE6F;
    text-decoration: underline;
}

.confirmationInscription .fenetre{
    animation: apparition 0.5s 0.5s ease-out backwards;
    max-width: 50em;
    margin: 2% auto;
}

.confirmationInscription p{
    animation: apparition 0.5s 1.3s ease-out backwards;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin-top: -0px;
    padding: 0% 5% 0% 5%;
}    
    
/***********************************inscription***************************************************/
.boutonValider{
    text-align: center;
}

.inscription fieldset{
    animation: apparitionBas 0.5s 1.3s ease-out backwards;
    border:none;
}

.inscription .saisie{
    width: 400px;
}

.inscription input {
    max-width: 100%;
}

.inscription form {
    display: flex;
    flex-direction: column;
    margin:auto;
}

.inscription .aligner{
    display: flex;
    justify-content: space-around;
}

.inscription .fenetre {
    animation: apparitionGauche 0.5s 0.5s ease-out backwards;
    max-width: 550px;
    margin:0 auto 2%; 
    display: flex;
    flex-direction: column;
}

.inscription .boutonBlanc{
    margin:0px 0px 20px 0px;
}

.inscription a {
    color:#45BE6F;
}

.inscription .aCenter{
    text-align: center;
}


/*----nipas---*/

.cgu h2 a{
    color:white;
}
.cgu h2 a:hover{
    cursor: default;
}

/*-----conducSpace------*/
#conducSpace{
    display: none;
}


/*************************************************************NOUS CONTACTER****************************************************/

.nousContacter{
    text-align: center;
}

.nousContacter div{
    animation: apparitionHaut 0.5s 0.5s ease-out backwards;
}

.nousContacter .contact{
    animation: apparitionCarte 0.5s 1.3s ease-out backwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.nousContacter .informationMail{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nousContacter #mail{
    margin-right: 3%;
}

.nousContacter .message{
    margin-top: 15px;
    font-size: 20px;  
}

.nousContacter .fenetreD{
    animation: apparitionHaut 0.5s 1.3s ease-out backwards;
}

.nousContacter .fenetreD .reseaux {
    font-family: 'Passion One', cursive;
    font-size: 25px;
    color: #505050;
    display: flex;
    flex-direction: row;
}

.nousContacter .reseaux div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13%;
}

.nousContacter .reseaux div i {
    transform: scale(2);
}

.nousContacter .reseaux div p {
    margin-left: 15%;
}

/*NOTES ETOILES*/

.rating {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: center;
}
.rating .star {
  display: none;
}
.rating label {
  color: #CFCFCF;
  display: inline-block;
  font-size: 25pt;
  margin: 0 -2px;
  transition: transform .15s ease;
}
.rating label:hover {
  transform: scale(1.35, 1.35);
}
.rating label:hover,
.rating label:hover ~ label {
  color: #F9E56A;
}
.rating .star:checked ~ label {
  color: #F9E56A;
}

/*------------------------- RESPONSIVE pour tablette ------------------------*/
@media only screen and (max-width: 768px) {
    
    h2{
        margin: 8%;
    }
    
    .fa-exchange-alt{
    transform: rotate(90deg);
  }
    
    .fa-exchange-alt:hover{
    transform: rotate(270deg);  
    transition: 0.5s ease-out;
}
    .rechercheRow{
    flex-direction: column;
    justify-content: center;
 }
    .rechercheGauche{
    margin-left: 0%;
}
    .rechercheDroite{
    margin-right: 0%;
}
    .rechercher .fenetre{
    max-width: 590px;
 }
    .proposer .fenetre{
    max-width: 590px;
 }
    
    
}
