/* font-family: 'Lato', sans-serif;
font-family: 'Fengardo'; */

/* CSS DE BASE */
body {
    min-height:100%;
    background-image: url("images/Fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
}

h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-style:normal; 
    font-size: 3em;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top:;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #505050;
    margin-top:;
}

/** Peut être pas utile
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #505050;
    text-align: justify;
}
**/

.fenetre {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin:5%;
}



/*Exemple de mise en forme de boutons*/

/*Pour les boutons valider*/
.boutonBlanc{ 
    border-radius: 30px;
    font-size: 1.5em;
    padding: 10px;
    border: 0;
    width: 10em;
    background-color: white;
    font-family: lato;
}


/*Modèle pour les champs de saisi*/
.saisie{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #EBEBEB;
    font-family: lato;
    opacity: 0.6;
}

/*Modèle pour les champs pré-rempli*/
.champRempli{
    border-radius: 10px;
    padding: 10px;
    border: 0;
    background-color: #CFCFCF;
    font-family: lato;
}


/*Modèle pour les + petits boutons version grise*/
.boutonGris{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #CFCFCF;
    font-family: lato;
    height: 30px;
    color: black;
}

/*Modèle pour les + petits boutons version orange*/
.boutonOrange{
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 8em;
    background-color: #F56A42;
    font-family: lato;
    height: 30px;
    color: white;
}

/* Header et Nav */

header {
    display: flex;
    align-items: center;
    background-color: #31393D;
    height: 7em;
    justify-content: space-around;
}

header img {
    max-height: 4em;
    margin-top: 1.2em;
    margin-right: 1em;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    list-style-type: none;
}

nav a:hover {
    transition: 0.5s;
    color: #45BE6F;
}

header li {
    margin-right: 2em;
}

header div {
    display: flex;
}
/* mettre class="pageActuel" sur le <li> assigné à la page pour le coloré en orange */
.pageActuel {
    color: #F56A42;
}

/***************************************************************MAIN*******************************************************/

/*Bulle de la page d'accueil*/
.bulleAccueil{
    background-color: white;
    height: 60px;
    width: 200px;
    font-family: 'Lato';
    font-size: 14px;  
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 4px 4px rgb(255,204,51);
    left: 20%;
    top: 40em;
}

.bulleAccueil p:first-child{
    text-align: left;
    margin-top: 10px;
}

.bulleAccueil p:nth-child(2){
    text-align: right;
    margin: 5px 0 0 0;
}

.bulleAccueil::after{
    content: "";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid rgb(255,204,51);
    border-right : 30px solid transparent;
    margin: 23px 0 0 15px;
}

.bulleAccueil::before{
    content: "";
    position: absolute;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 17px solid white;
    border-right : 30px solid transparent;
    margin: 10px;
    top: 90px;
}

/*footer*/
footer{
    height: 11em;
    background-color: #242A2D;
    margin: none;
}
footer p{
    font-family: 'Lato';
    font-size: 16px;
    color: #CCCCCC;
}
footer p:hover{
    font-weight: bold;
}

footer img{
    height: 4em;
    display: flex;
}
footer a{
    text-decoration: none;
}
.lienFoot{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
.logoFoot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logoFoot p{
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 2.5em;
    opacity: 0.2;
    padding-left: 0.2em;
}
.logoFoot img{
    margin-top: 1em;
}


